# compiled output
/dist
/node_modules
/vnedor
/jspm_packages

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
/coverage
/.nyc_output

# IDEs and editors
\.idea
\bin
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
\.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#FOLDERS
**/database/postgres
**/database/mongodb
**/database/mongo
**/database/redis
**/database/mysql
**/mysql
**/upload
**/uploads
\tmp

# FILES #
.env
.env.development
.env.staging
.env.production
.env.docker
.env.local


# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
